.field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-label {
    font-size: clamp(0.75rem, 0.7161rem + 0.1695vw, 0.875rem);
    color: #333;
}

input {
    font-size: clamp(0.625rem, 0.5572rem + 0.339vw, 0.875rem);
}


.success-info {
    display: block;
    margin-top: 10px;
    font-size: clamp(0.5625rem, 0.5117rem + 0.2542vw, 0.75rem);
    letter-spacing: 1.5px;
    color: green;
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
}

.failed-info {
    display: block;
    margin-top: 10px;
    font-size: clamp(0.5625rem, 0.5117rem + 0.2542vw, 0.75rem);
    letter-spacing: 1.5px;
    color: red;
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
}


.progress-spinner-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ddddddb0;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}